@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500;600&family=Oswald:wght@400;500;600&family=Poppins:wght@400;500;600&family=Roboto+Slab:wght@500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
:root{
    --bg-color: rgb(16, 16, 16);
}
body{
    background-color: var(--bg-color);

}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

html {
    font-size: 63%;
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    background-color: red;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
.flex {
    display: flex;
    align-items: center;
}
header{
    background-color: var(--bg-color);
}
.navbar {
    justify-content: space-between;
    width: 100%;
    
}
.header {
    width: 100%;
}

.navbar {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    position: relative;
    z-index: 2;

    .logo {
        font-weight: 600;
        color: white;
        font-size: 2.5rem;

        & h2 {
            font-size: 3rem;
            color: red;
            font-family: 'Roboto Slab', serif;
        }

        & span {
            font-size: 3rem;
            color: #ffffffe1;
            font-family: 'Roboto Slab', serif;
        }
    }

    .nav-links ul {
        gap: 3rem;
        /* position: relative; */
    }

    & a {
        font-size: 1.7rem;
        color: white;
        font-family: 'Oswald', sans-serif;
        letter-spacing: .7px;
        position: relative;
        /* transition: .3s ease-in; */
    }


}

.nav-link-logo {
    display: none;
    width: 3.5rem;
}
.nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0%;
    height: 2px;
    background: red;
    transition: 0.4s ease;
}

.nav-links a:hover::before {
    width: 100%;
    right: 0;
}


#menu-btn,
#cancel-btn {
    display: none;
}

/* hero-section */
.hero{
    /* width: 100%;
    height: 100vh;
    background-image: url("picture/herobg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    .bg-img img{
        width: 100%;
        height: 150vh;
        
        object-fit: cover;
    
    }

     .hero-main{
        position: relative;

        .hero-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
        }
    } 
    
}

/* nav media */
@media (max-width:1260px) {
    .navbar {
        padding: 2.5rem;
    }
}

@media(max-width:991px) {
    html {
        font-size: 57%;
    }

    .navbar {
        width: 100%;
        padding: 3rem 4rem;
    }
}

@media(max-width:768px) {
    #menu-btn {
        display: block;
        color: #fff;
        font-size: 3rem;
        color: red;
        position: absolute;
        right: 3rem;
        cursor: pointer;
    }

    #cancel-btn {
        display: block;
        color: red;
        font-size: 2.5rem;
        position: absolute;
        top: 30px;
        right: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        position: absolute;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100vh;
        align-items: flex-start;
        flex-direction: column;
        background-color: rgb(16, 16, 16);
        padding: 8% 60px;
        z-index: 99;
        box-shadow: 2px 2px 5px rgb(245, 245, 244, 0.2);
        transition: .3s ease-in;
    }

    .nav-links ul.active {
        left: 0;
    }

    .nav-link-logo {
        display: block;
        cursor: pointer;
       
    }

    .nav-link-logo.active{
        left: 0;
    }


}

@media(max-width:450px) {
    html {
        size: 55%;
    }


}